<form (ngSubmit)="onSubmit()">
  <div class="input-group">
    <p>
      <label for="initial-investment"><h3>Initial Investment</h3> </label>
      <input
        name="initial-investment"
        id="initial-investment"
        type="number"
        [(ngModel)]="enteredInitialInvestment"
      />
    </p>

    <p>
      <label for="annual-investment"><h3>Annual Investment</h3> </label>
      <input
        name="annual-investment"
        id="annual-investment"
        type="number"
        [(ngModel)]="enteredAnnualInvestment"
      />
    </p>
  </div>
  <div class="input-group">
    <p>
      <label for="expected-return"><h3>Expected Return</h3> </label>
      <input
        name="expected-return"
        id="expected-return"
        type="number"
        [(ngModel)]="expectedReturn"
      />
    </p>

    <p>
      <label for="duration"><h3>Duration</h3> </label>
      <input
        name="duration"
        id="duration"
        type="number"
        [(ngModel)]="duration"
      />
    </p>
  </div>
  <button>Calculate</button>
</form>
